*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header, .footer{
    background-color: darkslategray;
    color: white;
    padding: 10px;
    text-align: center;
}
.main-body{
    display: flex;
    flex: 1;
}
.body{
    background-color: gainsboro;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100vw;
}

/* Sidebar Container */
.sidebar {
    width: 250px;
    height: 87.5vh; /* Full viewport height */
    background-color: darkslategray; /* Dark blue-gray */
    color: #ecf0f1; /* Light gray */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* position: fixed; Stays in place on scroll */
    top: 0;
    left: 0;
    /* overflow-y: auto; Scroll if content exceeds viewport */
  }

  .sidebar h2{
    margin: 5px 0 10px 0;
  }
  
  /* Sidebar List */
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar List Items */
  .sidebar ul li{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
  }
  
  /* Hover Effect */
  .sidebar ul li:hover {
    background-color: #1abc9c;
    padding-left: 25px;
  }
  
  /* Active State */
  .sidebar ul li a.active {
    background-color: #1abc9c;
    padding: 15px 65px;
    border-radius: 4px;
    margin-left: -20px;
  }

  .sidebar ul li a{
    text-decoration: none;
    color: white;
  }

  button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.03s, transform 0.03s;
}

button:hover {
  background-color: darkslategray;
  transform: scale(1.05);
}

/* login */
.login-body{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gainsboro;
}
.login-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.login-container h2 {
  text-align: center;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-container button:hover {
  background: darkslategray;
}